POSTGRES_DB=scd
POSTGRES_USER=scd
POSTGRES_PASSWORD=change-me
DJANGO_SECRET_KEY=change-me-50-chars-minimum-random-string-here
DJANGO_ALLOWED_HOSTS=scd-reporting.fnal.gov,localhost
DATABASE_URL=postgres://scd:change-me@db:5432/scd
DJANGO_SETTINGS_MODULE=scd_reporting.settings.prod
GUNICORN_WORKERS=3
SCD_HOSTNAME=scd-reporting.fnal.gov
SCD_INITIAL_ADMIN_USERNAME=scd-admin
SCD_INITIAL_ADMIN_EMAIL=scd-admin@fnal.gov
SCD_INITIAL_ADMIN_PASSWORD=change-me
SCD_DISABLE_LOCAL_SIGNUP=0
ACCOUNT_EMAIL_VERIFICATION=optional
